In [79]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [200]:
kw = 'photo'

In [211]:
kw_list = [kw]
pytrends.build_payload(kw_list, timeframe='now 4-H')#, cat=0, timeframe='today 1-y')

In [219]:
qrys = pytrends.related_queries(); qrys;

In [220]:
qrys[kw]['top']

                  query  value
0        photo download    100
1                photos     75
2            girl photo     70
3      photo background     69
4            background     69
5              hd photo     65
6          google photo     54
7        passport photo     47
8       instagram photo     45
9           photo frame     43
10         photo editor     40
11        photo editing     35
12        picture photo     34
13            hot photo     32
14          photo maeva     31
15         photo studio     30
16      wallpaper photo     29
17          cover photo     28
18          photo booth     27
19            boy photo     25
20           love photo     25
21           edit photo     23
22          black photo     23
23      walgreens photo     23
24  maeva ghennam photo     23

In [221]:
qrys[kw]['rising']

                             query  value
0               kolkata photo fort    500
1              kolkata photo photo    500
2                    kolkata photo    500
3       kolkata photo photo result    300
4               photo size reducer    300
5   passport size photo dimensions    300
6                vithu mauli photo    250
7                    photo resizer    250
8              photo resizer in kb    250
9                     max meertens    200
10        photo frame shop near me    200
11             passport size photo    200
12        passport size photo size    200
13                      photo pose    190
14                        dp photo    190
15                  max more photo    190
16                photo compressor    180
17          photo to pdf converter    170
18               kolkata photo hot    160
19         photo background change    150
20        photo background changer    150
21  photo background change online    150
22       passport size photo maker    150
23              photo frame design    130
24                     girls photo    130

In [232]:
' '.join(qrys[kw]['top']['query'].values).replace('photo', '').replace('  ', ' ').strip()

'download s girl  background background hd google passport instagram  frame editor editing picture hot  maeva studio wallpaper cover  booth boy love edit black walgreens maeva ghennam'

In [212]:
topics = pytrends.related_topics(); topics;

In [213]:
topics[kw]['top']

,value,formattedValue,hasData,link,topic_mid,topic_title,topic_type
0,100,100,True,/trends/explore?q=/m/068jd&date=now+4-H,/m/068jd,Photograph,Topic
1,10,10,True,/trends/explore?q=/m/05wkw&date=now+4-H,/m/05wkw,Photography,Visual art form
2,4,4,True,/trends/explore?q=/m/016g5h&date=now+4-H,/m/016g5h,Editing,Topic
3,4,4,True,/trends/explore?q=/m/07vsb9&date=now+4-H,/m/07vsb9,Image editing,Software grouping
4,3,3,True,/trends/explore?q=/g/120htnrz&date=now+4-H,/g/120htnrz,Picture frame,Topic
5,2,2,True,/trends/explore?q=/g/121m79jr&date=now+4-H,/g/121m79jr,Size,Topic
6,2,2,True,/trends/explore?q=/m/05sv1&date=now+4-H,/m/05sv1,Passport,Topic
7,2,2,True,/trends/explore?q=/g/12314d05&date=now+4-H,/g/12314d05,Film frame,Topic
8,2,2,True,/trends/explore?q=/m/0c5mq&date=now+4-H,/m/0c5mq,Printing,Visual art form
9,1,1,True,/trends/explore?q=/m/03sm_j&date=now+4-H,/m/03sm_j,Photo booth,Topic
10,1,1,True,/trends/explore?q=/m/02qbl1m&date=now+4-H,/m/02qbl1m,Photo shoot,Topic
11,1,1,True,/trends/explore?q=/g/122kc1_j&date=now+4-H,/g/122kc1_j,passport photo,Topic
12,1,1,True,/trends/explore?q=/m/02rx2k&date=now+4-H,/m/02rx2k,Walgreens,Company
13,1,1,True,/trends/explore?q=/g/11b825488p&date=now+4-H,/g/11b825488p,Walgreens Photo,Topic
14,1,1,True,/trends/explore?q=/m/035zq3&date=now+4-H,/m/035zq3,Studio,Topic
15,1,1,True,/trends/explore?q=/m/08ccnw&date=now+4-H,/m/08ccnw,Photographic studio,Topic
16,1,1,True,/trends/explore?q=/m/0cvw9&date=now+4-H,/m/0cvw9,Kolkata,City in India
17,1,1,True,/trends/explore?q=/m/0bl45&date=now+4-H,/m/0bl45,Krishna,Deity
18,1,1,True,/trends/explore?q=/m/0b75wg4&date=now+4-H,/m/0b75wg4,Photo caption,Topic
19,0,<1,True,/trends/explore?q=/m/048w6&date=now+4-H,/m/048w6,Kilobyte,Unit of data
20,0,<1,True,/trends/explore?q=/g/11f77_c6c3&date=now+4-H,/g/11f77_c6c3,Sidhu Moose Wala,Indian singer
21,0,<1,True,/trends/explore?q=/m/07tm56&date=now+4-H,/m/07tm56,Mahakala,Deity
22,0,<1,True,/trends/explore?q=/m/02mtw0&date=now+4-H,/m/02mtw0,Mehndi,Art form

In [215]:
topics[kw]['rising']

,value,formattedValue,link,topic_mid,topic_title,topic_type
0,450,+450%,/trends/explore?q=/m/0cvw9&date=now+4-H,/m/0cvw9,Kolkata,City in India
1,250,+250%,/trends/explore?q=/m/048w6&date=now+4-H,/m/048w6,Kilobyte,Unit of data
2,200,+200%,/trends/explore?q=/m/02mtw0&date=now+4-H,/m/02mtw0,Mehndi,Art form
3,110,+110%,/trends/explore?q=/g/11f77_c6c3&date=now+4-H,/g/11f77_c6c3,Sidhu Moose Wala,Indian singer
4,110,+110%,/trends/explore?q=/m/0b75wg4&date=now+4-H,/m/0b75wg4,Photo caption,Topic
5,100,+100%,/trends/explore?q=/m/07tm56&date=now+4-H,/m/07tm56,Mahakala,Deity
6,100,+100%,/trends/explore?q=/m/0bl45&date=now+4-H,/m/0bl45,Krishna,Deity
7,80,+80%,/trends/explore?q=/m/08ccnw&date=now+4-H,/m/08ccnw,Photographic studio,Topic
8,70,+70%,/trends/explore?q=/m/035zq3&date=now+4-H,/m/035zq3,Studio,Topic
9,40,+40%,/trends/explore?q=/g/121m79jr&date=now+4-H,/g/121m79jr,Size,Topic

In [216]:
' '.join(topics[kw]['top']['topic_title'].values)

'Photograph Photography Editing Image editing Picture frame Size Passport Film frame Printing Photo booth Photo shoot passport photo Walgreens Walgreens Photo Studio Photographic studio Kolkata Krishna Photo caption Kilobyte Sidhu Moose Wala Mahakala Mehndi'

In [218]:
' '.join(topics[kw]['rising']['topic_title'].values)

'Kolkata Kilobyte Mehndi Sidhu Moose Wala Photo caption Mahakala Krishna Photographic studio Studio Size'

In [74]:
pytrends.trending_searches(pn='united_states')

                             0
0                     Lil Tjay
1                  Elliot Page
2                Tony Siragusa
3                   Dr Strange
4                         Juul
5                   Earthquake
6                 Mayim Bialik
7     Obi-Wan Kenobi episode 6
8                Andrew Gillum
9                    Mo Brooks
10      Avalanche vs Lightning
11              Olivia Rodrigo
12              Kendall Jenner
13                Bradley Beal
14   Westminster Dog Show 2022
15     Federal Gas Tax Holiday
16     Obi-Wan Kenobi season 2
17                 Nazem Kadri
18             Zion Williamson
19  How did Caleb Swanigan die

In [96]:
kw = pytrends.realtime_trending_searches(pn='US'); kw

,title,entityNames
0,"2022, Draft, Lacrosse, Free agent","[2022, Draft, Lacrosse, Free agent]"
1,"Sacramento Kings, Atlanta Hawks, NBA, Draft, I...","[Sacramento Kings, Atlanta Hawks, NBA, Draft, ..."
2,"Washington Wizards, Denver Nuggets, Monté Morr...","[Washington Wizards, Denver Nuggets, Monté Mor..."
3,"New York Yankees, Houston Astros, Aaron Boone,...","[New York Yankees, Houston Astros, Aaron Boone..."
4,"NBA Draft Lottery, Orlando Magic, 2022, Jabari...","[NBA Draft Lottery, Orlando Magic, 2022, Jabar..."
...,...,...
107,"Arizona Coyotes, National Hockey League, Draft...","[Arizona Coyotes, National Hockey League, Draf..."
108,"National Defense Authorization Act, Chemical s...","[National Defense Authorization Act, Chemical ..."
109,2022,[2022]
110,"Rhode Island, Daniel McKee, Gun control, Law","[Rhode Island, Daniel McKee, Gun control, Law]"
111,"Westminster Kennel Club Dog Show, Dog, Dog show","[Westminster Kennel Club Dog Show, Dog, Dog show]"

In [98]:
kw.title[1]

'Sacramento Kings, Atlanta Hawks, NBA, Draft, Indiana Pacers'

In [95]:
kw.title[0]

'Progressive jackpot, Securities offering, Lottery, Funding'

In [199]:
pytrends.suggestions('photo')

[{'mid': '/m/068jd', 'title': 'Photograph', 'type': 'Topic'},
 {'mid': '/m/02vxn', 'title': 'Film', 'type': 'Topic'},
 {'mid': '/g/11gr3727g1', 'title': 'Photopea', 'type': 'Software'},
 {'mid': '/m/03gmsdw', 'title': 'Photobox', 'type': 'Company'},
 {'mid': '/m/02_spr', 'title': 'Photovoltaics', 'type': 'Topic'}]